<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/layout/css/default.css" rel="stylesheet" type="text/css" />
	<link href="/layout/css/menu-left.css" rel="stylesheet" type="text/css" />
	<script src="/layout/js/jquery.js"></script>
</head>
<body>

<div id="tabbar-div">
	<p>
		<span class="explode" id="menu-collapse-all" name="menu-collapse-all" onclick="collapse(this)"></span>
		<span class="tab-front" id="menu-tab">菜单</span>
	</p>
</div>
<div id="main-div">
	<div id="menu-list">
		<ul id="menu-ul">
			<li class="explode" name="menu" onclick="collapse(this)">
				<span>地区管理</span>
			</li>
			<ul>
				<li class="menu-item"><a href="/etc/area" target="main-frame">地区列表</a></li>
			</ul>
			<li class="explode" name="menu" onclick="collapse(this)">
				<span>分类管理</span>
			</li>
			<ul>
				<li class="menu-item"><a href="/etc/category" target="main-frame">分类列表</a></li>
			</ul>
		</ul>
	</div>
</div>
<script src="/layout/js/menu-left.js"></script>
</body>
</html>